<!DOCTYPE html>
<html>

<head>
    <title>SignUp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/signUp.css">
</head>

<body>

    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">

                <div class="col-12 user-img">
                    <img src="./images/face.png" alt="">
                </div>

                <form action="/users" method="POST" class="col-12">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter Email" name="email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Username" name="name">
                    </div>
                    <div class="form-group form-pass">
                        <input type="password" class="form-control" placeholder="Enter Password" name="pass">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Enter RePassword" name="rePass">
                    </div>
                    <button type="submit" class="btn">
                      <i class="fas fa-sign-in-alt"></i>SignUp</button>
                </form>

            </div>
        </div>
    </div>

</body>

</html>